*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: 'Philosopher', sans-serif;
  color: white;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body, body a{
  cursor: none;
}

.char{
  will-change: transform;
}

.circle-cursor{
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.circle-cursor--inner{
  width: 5px;
  height: 5px;
  left: -2.5px;
  top:  -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: white;
}

.circle-cursor--outer{
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}
