*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: 'Philosopher', sans-serif;
  color: white;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a{
  cursor: pointer;
  text-decoration: underline;
}

