.frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2vw;

}

.frame__nav{
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.frame__signature, .frame__title--wrap{
  margin-bottom: 10px;
}

.nav__link{
  font-weight: regular;
}

.nav__link:hover{
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 53em){
  .frame{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}