@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2vw;

}

.frame__nav{
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.frame__title--wrap{
  margin-bottom: 10px;
}

.frame__signature{
  margin-bottom: 10px;
  width: 100px;
  transform: rotate(-16deg);
}

.frame__signature a{
  font-family: 'Square Peg', cursive;
  text-decoration: none;
  color: white;
  font-size: 30px;
  opacity: 0.6;
}

.frame__signature a:visited{
  color: white;
}

.nav__link > img{
  width: 45px;
  filter: grayscale(60%);
}

.nav__link > img:hover{
  filter: grayscale(0%);;
}

@media screen and (min-width: 53em){
  .frame{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}